*{
    transition: all 0.5s ease;
} 

.conteiner {
    font-family: Open Sans,sans-serif;
    background-image: url('../img/1background.jpg');
    height: 1280px; 
    background-size: cover;
}


.header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background-color: #001122;
}


.logo-png {
    
    width: 100px;
    height: 125px;
    margin-top: 50px;
    margin-left: 175px;
}


.panel {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0.6px;
}


.panel >a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding-left: 75px; 

}


.contact-me {
    margin-top: 95px;
    margin-left: 650px;

}
.content{
    margin-top: 0;
}


i {
    font-size: 25px;
}


.contact-me >i {
    color: #ffffff;
    cursor: pointer;
    padding-left: 15px;
}


h1 , span {
    font-family:Pacifico,sans-serif;
}


h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 250px;
    color: #ffffff          
}


span {
    display: block;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    color: #ffffff
}


.btn {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    

}


button {
    width: 396px;
    height: 84px;
    background-color: #7a2525;
    font-size: 35px;
    border: none; 
    color: #ffffff  

}


button:hover {
    font-size: 40px;
    background-color:#301010;
}


i:hover {
    color: #665e5e;
}

a:hover {
    color: #5e5a5a;
}



 
 